// ----------------------------------------
// !!GENERAL
// ----------------------------------------

@import url(https://fonts.googleapis.com/css?family=Amaranth:400,400italic,700italic,700);

body {
    font-family: "Amaranth", sans-serif;
    text-align: center;
    background-color: #edf3f8;
}
